.option_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    height: 650px;
    border: 2px solid black;
    border-radius: 10px;
}

.option {
    font-size: 24px;
}

.triangle-layout {
    width: 700px;
}

button {
    font-size: 20px;
}